@{
    ViewData["Title"] = "Dojodachi!";
}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <header>
            <ul class="row">
            @{
                <li class="col-md-3">Fullness: @ViewBag.fullness</li>
                <li class="col-md-3">Happiness: @ViewBag.happiness</li>
                <li class="col-md-3">Meals: @ViewBag.meals</li>
                <li class="col-md-3">Energy: @ViewBag.energy</li>
            }
            </ul>
        </header>
        <div>
            <img src="~/images/mutant-ninja-slug.jpg" class="center-block" alt="Mutant Ninja Slug">
            @{
                <!-- string message = "This is the placeholder message"; -->
                <h4 class="text-center">@ViewBag.message</h4>
            }
        </div>
    </body>
    <form class="row" action="move" method="POST">
        <input type="hidden" >
        <input class="col-md-3" type="submit" name="result" value="Feed">
        <input class="col-md-3" type="submit" name="result" value="Play">
        <input class="col-md-3" type="submit" name="result" value="Work">
        <input class="col-md-3" type="submit" name="result" value="Sleep">
    </form>
</html>